body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
    background-color: #04153E;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    background-color: #04153E;
    margin: .6rem;
}
.sidebarcontainer {
    display:flex;
    flex-direction: column;
    height: 25%;
}
.projectcontainer {
    display: flex;
    flex-direction: column;
    height: 65%;
}
.hi {
    flex: 1;
}
.wt {
    color: white;
}
.one {
    display: flex;
    justify-content: space-between;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.picflex {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-left: .7rem;
}
.picflex2 {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-left: .95rem;
}
.pic {
    height: 2rem;
    width: 2rem;
}
.pic2 {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .6rem;
}
.addtask {
    background-color: #04153E;
    font-weight: 600;
    border: 0;
    font-size: .9rem;
    height: 100%;
}
.projecttitle {
    font-weight: 600;
    margin-left: 1.2rem;
    font-size: .95rem;
}
.lt {
    font-size: .9rem;
}
.create {
    background-color: #04153E;
    color: white;
    border: 0;
    margin-left: .8rem;
    margin-top: .5rem;

}
.create:hover {
    color: orangered;
}
.pointer:hover {
    cursor: pointer;
}
.resetLocalStorage {
    border: none;
}
.projectForm {
    display: flex;
    margin-top: 1rem;
}
.closeProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    background-color: #04153E;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 1rem;
    margin-right: .5rem;
}
.projectbox {
    border-radius: 2px; 
    box-shadow: none;
    border: 1px solid gray;
    height: 2rem;
    background-color: #2F333D;
    width: 13rem;
    color: #A5ABB8;
}
.number {
    margin-right: 1rem;
    display:block;
    color: #8F95A5;
}

.numberflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .8rem;
    display:none;
    width: 1.5rem;
    height: 1.5rem;
    margin-top:.2rem;
    background-color:#04153E;
}
.myprojects {
    
}
.project {
    width: 100%;
    position: relative;
    height: 1.9rem;
}
.project:hover .hover {
    display:block;
}
.project:hover .number {
    display: none;
}
.popup {
    display: none;
    position: absolute;
    left: 17rem;
    bottom: 1.3rem;
    width: 100px;
    height: 40px;
    background-color: #727887;
    z-index: 1000;
}
.projectButton {
    width: 100%;
}
.onetwo {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 30px;
}
.resetflex {
    height: 2rem;
    display: flex;
    justify-content: start;
}
#resetLocalStorage {
    
}
.mainpage {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 85%;
    background-color: #37476F;
}

.mainpagecontainer {
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #37476F;
}
.formContainer {
    width: 100%;
    height: 20%;
}
.taskform {
    height: 100%;
    width: 100%;
    background-color: #53689B;
}
.button {
    height: 1.5rem;
    width: 6rem;
    background-color: #2D3B5C;
    border: 0;
    border-radius: 2px;
}
.submitButton {
    color: white;
    background-color: orangered;
}
.hihi {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#projectname {
    color: white;
    font-size: 20px;
}
.taskbutton {
    background-color: #37476F;
    color: white;
    border: 0;
}
.line {
    width: 100%;
    height: 1px;
    background-color: white;

}
.task {
    display: flex;
    width: 100%;
}
.markdone {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    margin-top: .5rem;

}
.things {
    margin-left: .7rem;
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color:#37476F;
    color: white;
}
